body{
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
a{
  text-decoration: none;
}
.bg-transparent{
  background-color: rgba(0, 0, 0, 0.75);
}
nav a{
  color: #fff;
}

nav div:first-child small{
  color: yellow;
}
nav .active{
  color: yellow;
}
nav div:first-child{
  font-size: 40px;
}
nav div:last-child{
  font-size: 20px;
}
nav div:last-child a:hover{
  color: yellow;
}
header .middle_form{
  display: table;
  color: #fff;
  margin: 5% 15%;
  padding-top: 50px;

}
header .middle_form article, header .middle_form form{
  display: table-cell;
}

header .middle_form article h1, header .middle_form article h3, header .middle_form article p{
  margin: 0;
  padding: 0;
}
header .middle_form article h1{
  font-size: 80px;
  line-height: 90px;
}
header .middle_form article h3{
  font-size: 36px;
}
header .middle_form article p{
  font-size: 20px;
  width: 640px;
  font-weight: 100;
  word-spacing: 3px;
  margin-bottom: 30px;
}
header .middle_form article a, header form button{
  background-color: #f7d427;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: 0;
  color: black;
  transition: .5s;
}
header .middle_form article a:hover, header form button:hover{
  cursor: pointer;
  color: #fff;
  background-color: #e5c527;
}
header .middle_form form{
  background: #594944;
  background-color: rgba(58, 51, 48, 0.80);
  border-radius: 10px;
  text-align: center;
  width: 400px;
  height: 380px;
}
header .middle_form form h3{
  font-size: 22px;

}
header .middle_form form input{
  display: table-cell;
  width: 320px;
  height: 35px;
  margin-bottom: 15px;
  padding-left: 10px;
  outline: none;
  transition: .5s;
  border: 0;
}
header .middle_form form input:focus{
  box-shadow: inset 1px 1px 1px 1px #f7d427;
}
header .middle_form form input::placeholder{
  font-size: 15px;
}
header .middle_form form p{
  width: 320px;
  margin-left: 35px;
}
header .middle_form form button{
  display: table-cell;
}
