body{
  margin: 0;
  font-family: 'Oswald', sans-serif;
}
a{
  text-decoration: none;
}
.bg-transparent{
  background-color: rgba(0, 0, 0, 0.75);
}
nav a{
  color: #fff;
}
nav div:first-child small{
  color: yellow;
}
nav .active{
  color: yellow;
}
nav div:first-child{
  font-size: 40px;
}
nav div:last-child{
  font-size: 20px;
}
nav div:last-child a:hover{
  color: yellow;
