body{

}
nav{
  padding: 10px 3%;
}
nav div{
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}
nav div:last-child{
  text-transform: uppercase;
  text-align: right;
}
nav div:last-child a{
  display: none;
}
nav div:last-child a:first-child{
  display: inline;
}
nav{
  padding: 15px 1%;
}
nav div{
  display: inline-block;
  vertical-align: middle;
}
nav div:first-child{
  width: 30%;
}
nav div:last-child{
  width: 70%;
  text-align: right;
  text-transform: uppercase;
}
nav div:last-child a{
  margin-left: 2.5%;
}
.container{
  margin-left: 8%;
  margin-right: 8%;
}
header iframe{
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%
}
header::after{
  content: "";
  color: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url(../img/grid.png);
  z-index: -1;
}
nav div:last-child a:first-child{
  display: none;
}
header .middle_form{
  width: 70%;
  display: table;
  color: #fff;
  margin: 5% 15%;
  padding-top: 2%;
}
header .middle_form article, header .middle_form form{
  /*display: table-cell;*/
}
header .middle_form article{
  width: 100%;
}
header .middle_form form{
  background: #594944;
  background-color: rgba(58, 51, 48, 0.80);
  border-radius: 10px;
  text-align: center;
  width: 30%;
  height: 380px;
}

header .middle_form article h1, header .middle_form article h3, header .middle_form article p{
  margin: 0;
  padding: 0;
}
header .middle_form article h1{
  font-size: 90px;
  line-height: 90px;
}
header .middle_form article h3{
  font-size: 40px;
}
header .middle_form article p{
  font-size: 25px;
  width: 640px;
  font-weight: 100;
  word-spacing: 1px;
  margin-bottom: 30px;
}
header .middle_form article a, header form button{
  background-color: #f7d427;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  border: 0;
  color: black;
  transition: .5s;
}
header .middle_form article a:hover, header form button:hover{
  cursor: pointer;
  color: #fff;
  background-color: #e5c527;
}

header .middle_form form h3{
  font-size: 22px;
}
header .middle_form form input{
  display: table-cell;
  width: 300px;
  height: 35px;
  margin-bottom: 15px;
  padding-left: 10px;
  outline: none;
  transition: .5s;
  border: 0;
}
header .middle_form form input:focus{
  box-shadow: inset 1px 1px 1px 1px #f7d427;
}
header .middle_form form input::placeholder{
  font-size: 15px;
}
header .middle_form form p{
  width: 80%;
  padding-left: 10%;
}
header .middle_form form button{
  display: table-cell;
}
@media screen and (max-width: 1428px){
  header .middle_form{
    margin: 5% 10%;
  }
  header .middle_form article h1{
    font-size: 80px;
    line-height: 80px;
  }
  header .middle_form article h3{
    font-size: 35px;
  }
  header .middle_form article p{
    font-size: 20px;
  }
  header .middle_form form input{
    width: 200px;
  }
}
@media screen and (max-width: 1278px){

}
@media screen and (max-width: 1170px){
header .middle_form{
  margin: 5% 5%;
}
}
